.contenedor{
    background-color: rgba(63, 102, 218, 0.363);
}

h1{
    margin-left: 40%;
    height: 60px;
}
h2{
    margin-left: 45%;
}
p{
    margin-left: 45%;
}
.cedula_estudiante{
    
    height: 40px;
    background-color: coral;
}